<div class="container">
    <div class="box-login">
        <div class="header">
            <h1>Login</h1>
            <h5>Sign in to continue</h5>
        </div>
        <div class="body">
            <div class="container-body">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>User name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="button">
                    <button mat-raised-button color="accent">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>